
<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 text-center text-white mr-auto ml-auto" ><div class="card"  style="background-color: purple; border-radius: 15px;"><h1 class="display-5">Jokenpô</h1></div></div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card br-20 b-blue">

        <div class="card-body">
          <h5 class="card-title text-white text-center">Jogador 1</h5>
          <img
            src="../assets/paper.png"
            class="card-img-top border b-blue br-10 cursor-img"
            alt="..."
            (click)="setChoice(p1, 'paper')"
            [ngClass]="{
              'b-white': p1.choice === 'paper',
              'b-blue': p1.choice !== 'paper'
            }"
          />
          <img
            src="../assets/rock.png"
            class="card-img-top border b-blue br-10 mt-2 cursor-img"
            alt="..."
            (click)="setChoice(p1, 'rock')"
            [ngClass]="{
              'b-white': p1.choice === 'rock',
              'b-blue': p1.choice !== 'rock'
            }"
          />
          <img
            src="../assets/scissors.png"
            class="card-img-top border b-blue br-10 mt-2 cursor-img"
            alt=""
            (click)="setChoice(p1, 'scissors')"
            [ngClass]="{
              'b-white': p1.choice === 'scissors',
              'b-blue': p1.choice !== 'scissors'
            }"
           />
        </div>
      </div>
    </div>
    <div class="col-md-6" style="display: flex;">
      <div class="row " style="margin: auto; max-width: 300px;">
        <div class="card br-20 b-green">

          <div class="card-body">
            <h5 class="card-title text-white text-center"><button type="button" class="btn btn-light text-green" (click)="getResult()">Jogar</button></h5>
            <h5 class="text-center text-white">{{ messageResult }}</h5>
            <img
              [src]="imgResult"
              class="card-img-top border br-10"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="background-color:  red;">

        <div class="card-body">
          <h5 class="card-title text-white text-center">Jogador 2</h5>
          <img
            src="../assets/paper.png"
            class="card-img-top border br-10 cursor-img"
            alt="..."
            (click)="setChoice(p2, 'paper')"
            [ngClass]="{
              'b-white': p2.choice === 'paper',
              'b-red': p2.choice !== 'paper'
            }"
          />
          <img
            src="../assets/rock.png"
            class="card-img-top border br-10 mt-2 cursor-img"
            alt="..."
            (click)="setChoice(p2, 'rock')"
            [ngClass]="{
              'b-white': p2.choice === 'rock',
              'b-red': p2.choice !== 'rock'
            }"
          />
          <img
            src="../assets/scissors.png"
            class="card-img-top border br-10 mt-2 cursor-img"
            alt=""
            (click)="setChoice(p2, 'scissors')"
            [ngClass]="{
              'b-white': p2.choice === 'scissors',
              'b-red': p2.choice !== 'scissors'
            }"
           />
        </div>
      </div>
    </div>

  </div>
</div>
